/*0.对网页样式做一些统一的设置*/
* {
	padding: 0;
	margin: 0;
}

/*1.对网页进行分区布局*/
div {
	border: 1px solid red;
	margin: 0 auto;
}
.logo {
	width: 960px;
	height: 61px;
}
.menu {
	height: 91px;
}
.core {
	height: 410px;
	/*顶部预留一个放渐变条的空间*/
	padding-top: 10px;
}
.cr {
	width: 960px;
	height: 50px;
}
.content {
	width: 950px;
	height: 390px;
	border: 5px solid #8ac1db;
}
.content div {
	width: 910px;
	height: 40px;
}
.content .data {
	height: 310px;
}

/*2.设置网页的背景(色、图)*/
body {
	background-color: #0EA8D8;
}
.logo {
	background-image:
		url(../img/top_bg.png);
}
.menu {
	background-color: #0488BB;
}
.core {
	background:
		url(../img/content_bg.png)
		repeat-x top;
}
.content {
	background-color: #e8f3f8;
}

/*3.设置文字样式*/
body {
	font-family:
		"微软雅黑","文泉驿正黑","黑体";
	font-size: 14px;
}
.logo {
	text-align: right;
	line-height: 61px;
}
.logo a {
	margin-right: 40px;
	color: #FFF;
	text-decoration: none;
}
.logo a:hover {
	font-weight: bold;
}
.cr p {
	text-align: center;
	color: #FFF;
	height: 25px;
	line-height: 25px;
}

/*4.设置表格的样式*/
.data table {
	border: 1px solid #ccc;
	/*边框合并需要写在table上*/
	border-collapse: collapse;
	width: 100%;
}
.data td {
	border: 1px solid #ccc;
	text-align: center;
}
.data thead tr {
	height: 40px;
	background-color: #fbedce;
	font-weight: bold;
}
.data tbody tr {
	height: 32px;
	background-color: #FFF;
}
.data tbody tr:hover {
	background-color: #f7f9fd;
}
.modify {
	padding-left: 15px;
	background:
		url(../img/modification.png)
		no-repeat left;
	border: 0;
}
.modify:hover {
	/*鼠标变手型*/
	cursor: pointer;
}

/*5.设置logo图片和消息提示框的位置*/
.logo img {
	float: left;
}
.content {
	/*子元素以此为目标进行绝对定位*/
	position: relative;
}
.content .message {
	width: 500px;
	height: 80px;
	position: absolute;
	left: 200px;
	top: 100px;
}
.message img {
	float: right;
	margin: 5px;
	cursor: pointer;
}
.message p {
	line-height: 80px;
	margin-left: 38px;
}
.message {
	background: #FDECEC
		url(../img/ok.png)
		no-repeat 10px 32.5px;
	border: 1px solid #F68A8A;
}

/*6.设置菜单区的图标样式*/
.menu ul {
	width: 960px;
	height: 91px;
	border: 1px solid yellow;
	margin: 0 auto;
	list-style-type: none;
}
.menu li {
	width: 68px;
	height: 77px;
	margin: 7px 14px;
	border: 1px solid yellow;
	float: left;
}
.index {
	background-image: 
		url(../img/index_out.png);
}
.index:hover {
	background-image: 
		url(../img/index_on.png);
}
.role {
	background-image: 
		url(../img/role_out.png);
}
.role:hover {
	background-image: 
		url(../img/role_on.png);
}

/*收尾：去掉调试过程中所加的边框*/
div,.menu ul,.menu li {
	border: 0;
}

















